/* publick style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --bodyColor : #181824 ;
    --font : snow ;
    --list : #25273c ;
    --borderColor : #5f6071 ;
    --select : radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(72,132,213,1) 60%, rgba(203,56,255,1) 77%);;
}

html, body {
    height: 100%;
    width: 100%;
}

/* body style */
.body{
    height: 100%;
    width: 100%;
    background-color: var(--bodyColor);
}

/* head style and image part */

.head{
    background: url(./images/bg-desktop-dark.jpg);
    width: 100%;
    height: 300px;
    display: block;
}

.head-part1{
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: snow;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 13px;
    padding-top: 40px;
}

#img-theme{
    cursor: pointer;
}

.head-part2{
    display: flex;
    justify-content: center;
    width: 100%;   
}

#add-work{
    border: none;
    width: 45%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    background-color: var(--list);
    color: var(--font);
    padding: 10px ;
    font-size: 18px;
    font-weight: 700;
}

#add-work:focus{
    outline: none;
}

/* list style */

#list{
    width: 100%;
    display: flex;
    justify-content: center;
}

#list-contayner{
    width: 45%;
    color: var(--font);
    font-size: 20px;
    font-weight: 400;
    border: 2px solid var(--borderColor);
    position: relative;
    top: -100px;
    background-color: var(--list);
}

.work{
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--borderColor);
}

.work span {
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid var(--borderColor);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* list information part */

.information{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
    border-bottom: 2px solid var(--borderColor);
}

.information p {
    cursor: pointer;
}

.center{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

/* p end bod */

.div-guidanse{
    letter-spacing: 3px;
    color: var(--font);
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}

/* responsiv */

@media screen and (max-width: 950px) {
    .head-part1{
        width: 80%;
    }
    #add-work{
        width: 80%;
    }
    #list-contayner{
        width: 80%;
        font-size: 15px;
    }
    .information{
        font-size: 12px;
    }
    .center{
        width: 40%;
    }
  }